<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>topic</key>
		<string>我们一起读书吧~</string>
		<key>type</key>
		<integer>1</integer>
		<key>target</key>
		<integer>0</integer>
		<key>place</key>
		<string>哈尔滨理工大学图书馆</string>
		<key>remark</key>
		<string>一起读书，一起学编程~</string>
		<key>owner</key>
		<dict>
			<key>age</key>
			<string>18</string>
			<key>nickname</key>
			<string>X140Yu</string>
			<key>icon</key>
			<string>X140Yu</string>
			<key>avatarUrl</key>
			<string></string>
			<key>gender</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>topic</key>
		<string>我想找个女朋友</string>
		<key>type</key>
		<integer>1</integer>
		<key>target</key>
		<integer>2</integer>
		<key>place</key>
		<string>哈尔滨理工大学图书馆</string>
		<key>remark</key>
		<string>不是充气的就行</string>
		<key>owner</key>
		<dict>
			<key>age</key>
			<string>18</string>
			<key>nickname</key>
			<string>ClassTC</string>
			<key>icon</key>
			<string>ClassTC.jpg</string>
			<key>avatarUrl</key>
			<string></string>
			<key>gender</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>topic</key>
		<string>我想找本书</string>
		<key>type</key>
		<integer>1</integer>
		<key>target</key>
		<integer>0</integer>
		<key>place</key>
		<string>黑龙江大学图书馆</string>
		<key>remark</key>
		<string>不是没用的</string>
		<key>owner</key>
		<dict>
			<key>age</key>
			<string>18</string>
			<key>nickname</key>
			<string>Houser_E</string>
			<key>icon</key>
			<string>Houser_E</string>
			<key>avatarUrl</key>
			<string></string>
			<key>gender</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>topic</key>
		<string>求自习</string>
		<key>type</key>
		<integer>1</integer>
		<key>target</key>
		<integer>2</integer>
		<key>place</key>
		<string>哈尔滨医科大学图书馆</string>
		<key>remark</key>
		<string>要治病</string>
		<key>owner</key>
		<dict>
			<key>age</key>
			<string>18</string>
			<key>nickname</key>
			<string>12345</string>
			<key>icon</key>
			<string>12345.jpg</string>
			<key>avatarUrl</key>
			<string></string>
			<key>gender</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>topic</key>
		<string>求死</string>
		<key>type</key>
		<integer>1</integer>
		<key>target</key>
		<integer>1</integer>
		<key>place</key>
		<string>哈尔滨学院图书馆</string>
		<key>remark</key>
		<string>一起</string>
		<key>owner</key>
		<dict>
			<key>age</key>
			<string>18</string>
			<key>nickname</key>
			<string>FUCK</string>
			<key>icon</key>
			<string></string>
			<key>avatarUrl</key>
			<string></string>
			<key>gender</key>
			<integer>1</integer>
		</dict>
	</dict>
</array>
</plist>
